:root {
  --project-top-border-color: rgba(33, 56, 66, .1);
  --project-secondary-text-color: #4d533c;
  --project-main-text-color: rgba(33, 56, 66, .6);
  --project-main-bgc: #ffffff;
  --project-shadow-caption: 50px 50px 100px rgba(0, 0, 0, 0.15);
  --project-text-alternative-color-1: #152934;
  --project-text-alternative-color-2: #d4d6d4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}


/* SECTION-PROJECT */
.project-section {
  font-family: 'Poppins', sans-serif;
}

.project-container-line {
  padding-top: 150px;

  border-top: 1px solid var(--project-top-border-color);
}
.project-top-wrapper {
  display: flex;
  gap: 133px;

  margin-bottom: 110px;
}

.project-title {
  font-size: 36px;
  color: var(--project-secondary-text-color);
}

.project-text {
  font-size: 16px;
  line-height: calc(26 / 16);
  color: var(--project-main-text-color);
}

.project-top-title {
  flex: 0 0 325px;

  line-height: calc(54 / 36);
}

.project-top-text {
  align-self: center;
  flex-basis: 518px;
}

.project-item + .project-item{
  margin-top: 140px;
}

.project-item {
  display: flex;
}

.project-image-wrapper {
  position: relative;

  flex: 0 0 735px;
}

.project-item-image-caption {
  position: absolute;
  bottom: -40px;

  width: 453px;
  padding-top: 30px;
  padding-right: 33px;
  padding-bottom: 30px;
  padding-left: 30px;

  background-color: var(--project-main-bgc);
  box-shadow: var(--project-shadow-caption);
  border-radius: 8px;
}

.project-item-image-caption > .project-image-caption-text {
  margin-bottom: 24px;

  font-style: italic;
  color: var(--project-secondary-text-color);
}

.project-caption-bottom-wrapper {
  display: flex;
  gap: 14px;
}

.project-caption-bottom-avatar {
  border-radius: 50%;
  align-self: center;
}

.project-name-position-wrapper {
  align-self: center;
}

.project-caption-bottom-name {
font-weight: 700;
font-size: 16px;
line-height: calc(24 / 16);
color: var(--project-secondary-text-color);
}

.project-caption-bottom-position {
  margin-top: 4px;

  font-size: 14px;
  line-height: calc(21 / 14);
  color: var(--project-text-alternative-color-1);
}

.project-text-wrapper {
  position: relative;

  padding-top: 80px;
}

.project-item-title {
  margin-bottom: 24px;

  line-height: calc(48 / 36);
}

.project-text-wrapper > .project-text + .project-text {
  margin-top: 26px;
}

.project-text-wrapper-link {
  display: block;
  margin-top: 90px;

  font-size: 16px;
  line-height: calc(18 / 16);
  color: var(--project-text-alternative-color-2);
}
.project-text-wrapper-link:hover, .project-text-wrapper-link:focus{
  color: #FFD723;
}
/* .project-text-wrapper-link::before {
  content: "\23F5 	
\1F892";
} */

.project-item:nth-child(2n) {
  flex-direction: row-reverse;
}

.project-item:nth-child(2n) > .project-image-wrapper {
  right: -165px;
}

.project-item:nth-child(2n + 1) > .project-image-wrapper {
  left: -165px;
}

.project-item:nth-child(2n + 1) > .project-text-wrapper {
  left: -70px;
}

.project-item:nth-child(2n) .project-item-image-caption{
  left: -40px;
}

.project-item:nth-child(2n + 1) .project-item-image-caption {
  right: -40px;
}


/* --------------------Section Deation...start---------------- */


.deation-container {
  position: relative;
  padding-bottom: 322px;
}

.deation-line {
  width: 1110px;
  height: 1px;
  background: rgba(33, 56, 66, 0.0955529);
  margin: 0 auto;
  margin-bottom: 149px;
}

.deation-title {
  max-width: 607px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.28;

  color: #4D533C;
  margin-bottom: 87px;
}

.deation-list {
  height: max-content;
  display: flex;
  gap: 30px;

}

.deation-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 27px 30px;
  width: calc((100%-90px)/4);
}

.deation-item-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.42;
  text-transform: uppercase;

  color: #4D533C;
  margin-bottom: 20px;
}

.deation-item-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;

  color: rgba(33, 56, 66, 0.6);
  margin-bottom: 30px;
}

.deation-link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-decoration-line: underline;
  color: #D4D6D4;

}

.deation-link:hover,
.deation-link:focus {
  color: #FFD723;
}

.call {
  position: absolute;
  bottom: -172px;
  left: -167px;
  transform: translateY(-50% 0);
  width: 1275px;
  height: 362px;
  padding-top: 70px;
  padding-left: 165px;
  padding-right: 289px;
  padding-bottom: 70px;
  background: #FAFAFA;
  box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
}

.call-text {
  max-width: 822px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.23;

  color: #4D533C;
  margin-bottom: 50px;
}

.call-link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-decoration-line: underline;

  color: #D4D6D4;

}

.call-link:hover,
.call-link:focus {
  color: #FFD723;
}

/* ------------------ Section deation... end ------------------- */